.document-creator-page-footer {
    box-sizing: border-box;
    padding: $docreat-margin-between-lines $docreat-lateral-margin $docreat-lateral-margin  $docreat-lateral-margin;
    width: 793.7px !important;
    min-width: 793.7px !important;
    max-width: 793.7px !important;
    height: 100px !important;
    min-height: 100px !important;
    max-height: 100px !important;
    overflow: hidden;
    display: flex;
}
