.upload-files {
    border-left: 3px solid var(--border-right-line-card);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    max-height: 90vh;
    animation: appear 0.4s;
    position: relative;
    width: 100%;
    background-color: white;

    &__header {
        margin-top: $margin-top-header;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
        padding: 1rem;

        h2 {
            font-size: $text-size-large;
            color: var(--title-color);
        }

    }

    &__container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 1rem;
        flex: 1 1 auto;
        overflow: auto;

        &__main {
            width: 80%;
            height: 100%;
            margin: auto;
            animation: appear 0.4s;
            overflow-x: hidden;

            &__title {
                width: 100%;
                margin: auto;
                margin-bottom: $margin-top-header;
                font-weight: bolder;
                font-size: $text-size-normal;
                border-bottom: 1px solid #bebebe;
            }

            nav {
                display: flex;
                flex-direction: row;
                height: 70%;
                place-content: center;
                align-items: center;
                gap: 1.5vw;

                button {
                    width: $button-large-width;
                    height: $button-large-height;
                }
            }
        }


    }

    &__container-single {
        height: 90%;
        animation: appear 0.4s;
    }

    &__title {
        width: 80%;
        margin: auto;
        margin-bottom: $margin-top-header;
        font-weight: bolder;
        font-size: $text-size-normal;
        border-bottom: 1px solid #bebebe;
    }

    &__content {
        position: relative;
        width: 80%;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        align-content: start;

        &__card {
            padding: 1vh;
            height: $button-size-height;
            width: 97%;
            margin: auto;

            input,
            select {
                border: 1px solid $border-fields;
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 0.5rem;
                box-sizing: border-box;
                transition: all ease-out 0.2s;
                font-size: $text-size-short;
                place-content: center;
            }
        }
    }

    &__container-multiple {
        height: 100%;
        width: 100%;
        margin: auto;
        animation: appear 0.4s;
        position: relative;
        &__many-files {
            display: grid;
            grid-template-rows: 20% 80%;
            position: relative;
            height: 90%;
            width: 80%;
            margin: auto;
            overflow: hidden;
        &__status {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-left: auto;
            height: min-content;
            width:  max-content;
            background-color: rgba(110, 110, 110, 0.137);
            position: absolute;
            left: 0px;
            top:0px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            z-index: 2;
            backdrop-filter: blur(2px);
            transition: all ease-out 0.3s;
            &__content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 24rem;
                padding: 1rem;
                &__title {
                    font-weight: bolder;
                    font-size: $text-size-normal;
                    height: min-content;
                    width: 90%;
                }

                &__correct {
                    color: green;
                    font-size: .87rem;
                    width: 30%;
                }

                &__incorrect {
                    color: red;
                    font-size: .87rem;
                    width: 30%;
                }
            }

            &__icon {
                width: 7rem;
                height: 7rem;
                object-fit: contain;
            }
        }
            &__header {
                display: flex;
                flex-direction: row;
                height: min-content;
                input,
                select,
                button {
                    box-sizing: border-box;
                    transition: all ease-out 0.2s;
                    font-size: $text-size-short;
                    height: $button-size-height;
                    width: $button-size-width;
                }


                
            }

            .table__row {
                grid-template-columns: 2.5rem 32% auto 28% 5rem;
                padding: 0.5rem 0;

                &--info {
                    background-color: white;
                    text-align: left;
                    box-sizing: border-box;
                    width: 97%;
                    height: $button-size-height;
                    border: 1px solid $border-fields;
                    transition: all ease-out 0.2s;
                    font-size: $text-size-short;
                }

                &--more-padding {
                    padding-left: 0.4rem;
                }

                &--less-column {
                    grid-template-columns: 2.5rem 55% auto 5rem;
                }
            }

            .table--header {
                padding: 0;
            }
        }

    }

    &__nav {
        display: flex;
        justify-content: $button-position;
        width: 80%;
        margin: auto;
        padding: 0 0 $button-padding-bottom;

        &__button {
            width: $button-size-width;
            height: $button-size-height;
        }
    }
}