.user-list-menu-header {
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    top: 3rem;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    overflow-y: hidden;
    height: 0rem;
    visibility: hidden;
    transition: all ease-out .2s;
    z-index: 2;
    &__option {
        padding: .5rem;
        transition: all ease-out .2s;
        -webkit-user-select : none;
        user-select: none;
        cursor: pointer;
        &:hover {
            background-color: rgb(223, 223, 223);
        }
    }
    &--show{    
        height: 2.3rem;
        visibility: visible;
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.4));
    }
}
