.modal-response-editor {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.106);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transition: all ease-out .2s;
    z-index: $modal-z-index;

    &__content {
        resize: both;
        overflow: auto;
        width: 40%;
        height: 25rem;
        min-height: 25rem;
        min-width: 40%;
        max-width: 95%;
        max-height: 90%;
        padding: 2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 2vh;

        &__title{
            font-size: 1.5rem;
        }

        &__form{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            select, input{
                border: 1px solid gray;
                width: 100%;
            }
        }

        &__editor {
            overflow-y: auto;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #CECECE;
            flex-grow: 1;

            &--background-white {
                padding: 1rem;
                height: 100%;
            }

        }



        &__footer {
            display: flex;
            justify-content:  flex-end;
            gap: 1rem;
        }
    }

    &__buttom {
        align-self: flex-end;
        color: black;

        &--close {
            width: auto;
            &:hover {
                background-color: rgba(255, 59, 59, 0.861);
                color: white;
            }
        }

        &--send {
            &:hover {
                background-color: rgba(42, 180, 248, 0.925);
                color: white;
            }
        }
    }

    &--show {
        visibility: visible;
        animation: appear .2s  forwards;
        opacity: 1;
    }
    &--hidde {
        visibility: hidden;
        animation: disappear .2s  forwards;
        opacity: 0;
    }
}

.divider {
    background-color: rgb(195 195 195);
    width: 2px;
    min-height: 100%;
}
