
.calendar {

     overflow: auto;
        padding: 0;
        align-content: center;
        min-height: 80%;
        height: 90%;
    button{

        background-color: red !important;
    }
        .vc-header{
            margin-top: 0px !important;
        }

        .vc-week {
            height: 1.5rem;
        }

        
}

